@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Click to place your X</h1>
</div>

<div class="" id="field">
    <table>
        <tr>
            <th></th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td id="a1"></td>
            <td id="b1"></td>
            <td id="c1"></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td id="a2"></td>
            <td id="b2"></td>
            <td id="c2"></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td id="a3"></td>
            <td id="b3"></td>
            <td id="c3"></td>
        </tr>
    </table>
</div>

<div id="resultModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalContent"></h2>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">New Game</button>
            </div>
        </div>
    </div>
</div>
